div.crpvideo_video_container {
	margin-bottom: 5px;
}

div.crpvideo_video_header {
	border: 1px dashed black;
	padding: 5px;
}

div.crpvideo_video_body {
	margin: 10px;
}

div.crpvideo_video_footer {
	border: 1px dashed black;
	font-size: 95%;
	padding: 5px;
}

/* style for column width */
.crpvideo_w1 {
	width: 5%;
}

.crpvideo_w2 {
	width: 10%;
}

.crpvideo_w3 {
	width: 15%;
}

.crpvideo_w4 {
	width: 50%;
}

.pages-bread ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
}

.pages-bread li {
	display:inline;
	margin: 0 18px 0 -10px;
	padding: 0 3px 0 3px;
}

.pages-bread a span {	
	display: block;
	cursor: pointer; /* IE doesnt display the hand when you roll over the link for some reason. This fixes it */
}

.pages-bread li a {}
.pages-bread li a:hover {}
.pages-bread li:hover {}

/* position styles */ 
.crpvideo-float-right {
	float: right;
	position: relative;
	display: inline;
	margin: 4px 4px 4px 4px;
}

.crpvideo-box {
	padding: 8px;
	border: 1px dashed black;
	margin: 0 0 16px 0;
}

/* -- shadow -- */
.crpvideo-shadow {
  background-image: url(../pnimages/dropshadow.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
  float: left;
  position: relative;
  display: inline;
}

.crpvideo-shadow div {
	position: relative;
  left: -5px;
  top: -5px;
  border: 1px outset #808080;
  padding: 9px 0px 6px 0px;
 }
 
 .crpvideo-shadow img {
 	padding: 0px;
 	margin: 0px;
 }